In [11]:
from datetime import datetime
#from airflow import DAG
#from airflow.operators.python import PythonOperator
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://airflow:airflow@postgres:5433/airflow')
import json

In [27]:
filename = 'dags/data/pets-data.json'
def json_to_postgres():
    with open(filename, 'r') as f:
        data = json.load(f)
    df = pd.json_normalize(data, 'pets')
    df.to_sql('pets', 
              engine, 
              if_exists='replace',
              index=False)
    print('Таблица pets загружена')
with DAG(
    'pets_json_to_postgres',
    start_date=datetime(2024, 1, 1),
    schedule_interval='@once',
    catchup=False,
) as dag:
    load_task = PythonOperator(
        task_id='load_json_to_postgres',
        python_callable=json_to_postgres
    )

In [28]:
json_to_postgres()

,name,species,favFoods,birthYear,photo
0,Purrsloud,Cat,"[wet food, dry food, <strong>any</strong> food]",2016,https://learnwebcode.github.io/json-example/im...
1,Barksalot,Dog,NaN,2008,https://learnwebcode.github.io/json-example/im...
2,Meowsalot,Cat,"[tuna, catnip, celery]",2012,https://learnwebcode.github.io/json-example/im...

In [7]:
df

NameError: name 'df' is not defined